.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  font-size: 14px;
  color: #000;
  line-height: 49px;
  background-color: #fff;
  border-bottom: 1px solid rgba(31,56,88,0.06);
  box-sizing: border-box;
  z-index: 10;
}

.header-title {
  font-weight: bold;
}

.header-more {
  color: rgba(31,56,88,0.60);
  cursor: pointer;
}