.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  background: #2C2F33;
}

.footer span {
  font-family: PingFangSC-Regular;
  width: 1000px;
  margin: 0 auto;
  line-height: 44px;
  text-align: right;
  color: #fff;
  text-align: center;
  opacity: 0.4;
}